.privacyPolicy {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 40px;
    text-align: left;
    h1 {
        font-size: 18px;
        font-weight: bold;
    }
    h2 {
        font-size: 14px;
        text-decoration: underline;
    }
    p {
        font-size: 12px;
    }
    .topClose {
        float: right;
    }

}
