<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NHS COVID Pass and EU Digital Covid Certificate Scanner.  Scan your Covid Passport to check it's valid and to view the encoded information.">
    <title>EU &amp; UK COVID-19 Passport Scanner</title>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <meta name="google-site-verification" content="aHYwezOsipwyvbWaC7He0qGOtDYyeV_-K-BZ7PjNMhE" />
    <style>
      <%= criticalCss %>
    </style>
  </head>
  <body>
    <div id="root">
      <div class="criticalLoading">
        <h1>EU &amp; UK COVID-19 Passport Scanner</h1>
        <section>
            <h2>Covid Passport Scanner</h2>
            <p>Scan and verify your COVID-19 DCC (Digital COVID Certificate) below</p>
        </section>
        <p>Loading...</p>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </body>
</html>