<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>EU &amp; UK COVID-19 Passport Scanner</title>
    <style>
      <%= criticalCss %>
    </style>
  </head>
  <body>
    <div id="root">
      <div class="criticalLoading">
        <h1>EU &amp; UK COVID-19 Passport Scanner</h1>
        <p>Loading...</p>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </body>
</html>